body {background: black;
     color:red;
     font-size:20px;
     font-family: tahoma;

}
input {background: white; 
       background-color: white; 
  
    }


a {color: red;}

h1 {text-align: center;}







