
*{padding: 10; margin: 10; color: aqua; background: black; }


mark {text-decoration: underline; color: red; background: yellowgreen; }

#imagem {height: 500px;   background: red;}

img {height: 500px; margin-bottom: 100px; background: red; }

#h1 { text-decoration: overline;  text-align: left;
      color:aqua; background: blueviolet;
     font-family: tahoma; box-shadow:  green 10px 10px;
 width: 1400px;
}



body { 
     font-size:20px;
     font-family: tahoma;


}

     

input[type=text]{  width: 200px; background-color:rgb(95, 95, 126); height: 35px; border: none;}

input[type=email]{ background-color:#ccc; font-size: 20px; border: none  }


input[type=password]{ background: #ccc; font-size: 20px; border: none  }
a {color: red;}














